<%- include('../userLayouts/userhead.ejs') %>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <style>
        .cart-wrap {
            padding: 40px 0;
            font-family: 'Open Sans', sans-serif;
        }
    
        .main-heading {
            font-size: 19px;
            margin-bottom: 20px;
        }
    
        .table-wishlist table {
            width: 100%;
        }
    
        .table-wishlist thead {
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 5px;
        }
    
        .table-wishlist thead tr th {
            padding: 8px 0 18px;
            color: #484848;
            font-size: 15px;
            font-weight: 400;
        }
    
        .table-wishlist tr td {
            padding: 25px 0;
            vertical-align: middle;
        }
    
        .table-wishlist tr td .img-product {
            width: 72px;
            float: left;
            margin-left: 8px;
            margin-right: 31px;
            line-height: 63px;
        }
    
        .table-wishlist tr td .img-product img {
            width: 100%;
            max-width: 100%; /* Ensure images don't exceed their container */
            height: auto; /* Maintain aspect ratio */
        }
    
        .table-wishlist tr td .name-product {
            font-size: 15px;
            color: #484848;
            padding-top: 8px;
            line-height: 24px;
            width: 50%;
        }
    
        .table-wishlist tr td.price {
            font-weight: 600;
        }
    
        .table-wishlist tr td .in-stock-box {
            display: block;
            font-size: 12px;
            text-align: center;
            border-radius: 25px;
            padding: 4px 15px;
            color: #fff;
            background-color: #ff0000;
        }
    
        .table-wishlist tr td .add-to-cart-btn {
            display: block;
            margin-top: 10px;
        }
    
        .table-wishlist tr td .remove-btn {
            display: block;
            margin-top: 10px;
        }
    
        .trash-icon {
            font-size: 20px;
            color: #212529;
        }
    
        .wishlist-box {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
    </style>
    

    <div class="mt-5 ms-5">
        <a href="/viewProductDetails" class="btn btn-dark">BACK</a>
    </div>

    <div class="cart-wrap">
        <div class="container">
            <div class="wishlist-box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-heading mb-10">My wishlist</div>
    
                        <% if (message) { %>
                            <p><%= message %></p>
                        <% } else { %>
                            <div class="table-wishlist">
                                <table class="table" cellspacing="0" border="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="30%">Product Name</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="15%">Stock Status</th>
                                            <th width="15%">Add to Cart</th>
                                            <th width="10%">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (wishlist && wishlist.length > 0) { %>
                                            <% wishlist.forEach(product => { %>
                                                <tr>
                                                    <td width="30%">
                                                        <div class="d-flex align-items-center">
                                                            <div class="img-product">
                                                                <% if (product && product.image && product.image.length > 0) { %>
                                                                    <img src="/public/productImage/<%= product.image[0] %>" alt="Product Image" class="img-fluid">
                                                                <% } else { %>
                                                                    <img src="/path/to/default/image.jpg" alt="Default Image" class="img-fluid">
                                                                <% } %>
                                                            </div>
                                                            <div class="name-product ms-3">
                                                                <%= product.name || 'Product Name Not Available' %>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="20%" class="price">RS.<%= product.price !== undefined ? product.price.toFixed(2) : 'N/A' %></td>
                                                    <td width="15%"><span class="in-stock-box">In Stock</span></td>
                                                    <td width="15%"><a href="/add-to-cart/<%= product._id %>"><button class="btn btn-primary">Add to Cart</button></a></td>
                                                    <td width="10%" class="text-center">
                                                        <a href="/remove-from-wishlist/<%= product._id %>">
                                                            <img src="/public/photo/closs.png" width="20px" height="20px" alt="Remove from Wishlist">
                                                        </a>
                                                    </td>
                                                </tr>
                                            <% }); %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5" class="text-center">No products found in the wishlist</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../userLayouts/userFoot.ejs') %>